<div class="container mt-5 listaTranstorn">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span>LISTA DE TRANSTORNOS</span>
                    <button class="btn btn-success float-end" routerLink="/transtorno/add-transtorno">Nuevo</button>

                    <table *ngIf="listaTranstorno.length > 0" class="table table-striped mt-2">
                        <thead>
                          <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Descripcion</th>
                            
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let transtorno of listaTranstorno">
                            
                            <td>{{ transtorno.nombreTranstorno }}</td>
                            <td>{{ transtorno.descripcion }}</td>

                            <td>
                                <i (click)="eliminarTranstorno(transtorno._id)" class="fa fa-solid fa-trash"></i>
                                <i [routerLink]="['edit-transtorno', transtorno._id]" class="fa fa-solid fa-pen-to-square"></i>
                            </td>
                          </tr>
                        </tbody>
                      </table>

                      <h5 *ngIf="listaTranstorno.length == 0">No hay datos.</h5>
                </div>
            </div>
        </div>
    </div>
</div>